<table class="home-links">
  <tr>
    <td><a href="http://ellen-marten.nl/cadeaus"><i class="fa fa-gift" aria-hidden="true"></i></a></td>
    <td><a href="https://goo.gl/maps/RDpQV9BgQJ82"><i class="fa fa-map-o" aria-hidden="true"></i></a></td>
    <td><a href="mailto:ceremoniemeester@ellen-marten.nl"><i class="fa fa-envelope-o" aria-hidden="true"></i></a></td>
  </tr>

  <tr>
    <td><a href="http://ellen-marten.nl/cadeaus">Gift Registry</a><br><small>Password: "supergeheim"</small></td>
    <td><a href="https://goo.gl/maps/RDpQV9BgQJ82">Location</a></td>
    <td><a href="mailto:ceremoniemeester@ellen-marten.nl">Contact</a></td>
  </tr>
</table>

